vscode-extension/.vscode/**
vscode-extension/.vscode-test/**
vscode-extension/out/test/**
vscode-extension/test/**
vscode-extension/src/**
vscode-extension/**/*.map
.gitignore
vscode-extension/tsconfig.json
vscode-extension/vsc-extension-quickstart.md
